<?xml version="1.0" encoding="utf-8"?>
<startupConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6700.0" initialized="True" dbType="SqlServer" sqlInstance=".\SQLEXPRESS" dbName="SitefinityNewsRotatorSample" password="password" username="admin" />